body {
    background-color: blue;
}

.recommended-page {
    padding: 145px 10px 20px;
}

.recommended-page h2 {
    margin: 0 0 10px;
    color: whitesmoke;
}

.recommended-page .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
}

@media(max-width: 768px) {
    .recommended-page {
        padding-top: 185px;
    }
}
